# Dependencies
node_modules/

# Environment variables
.env

# Logs
logs/
*.log

# Runtime data
pids/
*.pid
*.seed
*.pid.lock

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Build
dist/
build/

# Docker
*.env.local
*.env.development.local
*.env.test.local
*.env.production.local

# Coverage
coverage/

# Misc
.npm
.eslintcache